
/* Stones */

.shudan-stone-image.shudan-sign_-1 {
        background-image: url('white.png');
    }

.shudan-stone-image.shudan-sign_1 {
        background-image: url('black.png');
    }

/*
.shudan-vertex.shudan-sign_0 {
	top: .04em;
	left: .04em;
	width: calc(100% - .08em);
	height: calc(100% - .08em);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url('null.png');
}
*/

/* Fuzzy Stone Placement */

.shudan-vertex:not(.shudan-sign_0).shudan-animate .shudan-stone {
        transition: transform .0s;
    }
    .shudan-vertex:not(.shudan-sign_0).shudan-shift_1 .shudan-stone {
        transform: translate(-.00em, 0);
    }
    .shudan-vertex:not(.shudan-sign_0).shudan-shift_2 .shudan-stone {
        transform: translate(0, -.00em);
    }
    .shudan-vertex:not(.shudan-sign_0).shudan-shift_3 .shudan-stone {
        transform: translate(.00em, 0);
    }
    .shudan-vertex:not(.shudan-sign_0).shudan-shift_4 .shudan-stone {
        transform: translate(0, .00em);
    }
    .shudan-vertex:not(.shudan-sign_0).shudan-shift_5 .shudan-stone {
        transform: translate(-.00em, -.00em);
    }
    .shudan-vertex:not(.shudan-sign_0).shudan-shift_6 .shudan-stone {
        transform: translate(.00em, -.00em);
    }
    .shudan-vertex:not(.shudan-sign_0).shudan-shift_7 .shudan-stone {
        transform: translate(.00em, .00em);
    }
    .shudan-vertex:not(.shudan-sign_0).shudan-shift_8 .shudan-stone {
        transform: translate(-.00em, .00em);
}

/* Stone Shadow */

.shudan-vertex:not(.shudan-sign_0) .shudan-shadow {
        opacity: 0;
}


/* Board */

.shudan-goban {
	--shudan-board-border-width: .05em;
    --shudan-board-border-color: #222222;
    --shudan-board-background-color: #000000;
	--shudan-board-foreground-color: #555555;
}

.shudan-goban-image {
    background-image: url('board.png');
}

/* Grid Lines */

.shudan-vertex .shudan-board::before {
	height: 1px;
}
.shudan-vertex .shudan-board::after {
	width: 1px;
}
.shudan-vertex .shudan-hoshi {
	transform: translate(calc(-50% + .5px), calc(-50% + .5px));
}

/* UI */

main {
	background: #000000 url('board.png')
}