
/* Stones */

.shudan-stone-image.shudan-sign_-1 {
        background-image: url('white1.png');
    }
    .shudan-stone-image.shudan-sign_-1.shudan-random_1 {
        background-image: url('white2.png');
    }
    .shudan-stone-image.shudan-sign_-1.shudan-random_2 {
        background-image: url('white3.png');
    }
	.shudan-stone-image.shudan-sign_-1.shudan-random_3 {
        background-image: url('white4.png');
    }
    .shudan-stone-image.shudan-sign_-1.shudan-random_4 {
        background-image: url('white5.png');
}


.shudan-stone-image.shudan-sign_1 {
        background-image: url('black1.png');
    }
    .shudan-stone-image.shudan-sign_1.shudan-random_1 {
        background-image: url('black2.png');
    }
    .shudan-stone-image.shudan-sign_1.shudan-random_2 {
        background-image: url('black3.png');
    }
	.shudan-stone-image.shudan-sign_1.shudan-random_3 {
        background-image: url('black4.png');
    }
    .shudan-stone-image.shudan-sign_1.shudan-random_4 {
        background-image: url('black5.png');
}

.goban li.sign_-1 .stone::before {
	opacity: 0;
}

.goban li.sign_1 .stone::before {
	opacity: 0;
}

/* Board */

.shudan-goban {
    --shudan-board-border-color: #000000
}



.DEPRECATED-goban {
border: 0px solid #000000;
}

.shudan-goban {
    --shudan-board-background-color: #D1AE84;
}

.shudan-goban-image {
    background-image: url('board.png')
}

.DEPRECATED-goban {
        background-color: #D1AE84;
        background-image: url('board.png');
    }
    .goban .row li.triangle .stone span::after {
        border-bottom-color: #D1AE84;
}

/* Lines */

.goban .row li {
    position: relative;
    background: url('inner.svg') center;
	}
	.goban .row li.hoshi::after {
		background: #000000;
	}
	.goban .row:nth-child(3) li {
		background-image: url('side-n.svg');
	}
	.goban .row:nth-last-child(3) li {
		background-image: url('side-s.svg');
	}
	.goban .row li:first-child {
		background-image: url('side-w.svg');
	}
	.goban .row li:last-child {
		background-image: url('side-e.svg');
	}
	.goban .row:nth-child(3) li:first-child {
		background-image: url('corner-nw.svg');
	}
	.goban .row:nth-child(3) li:last-child {
		background-image: url('corner-ne.svg');
	}
	.goban .row:nth-last-child(3) li:first-child {
		background-image: url('corner-sw.svg');
	}
	.goban .row:nth-last-child(3) li:last-child {
		background-image: url('corner-se.svg');
	}

/* Black Border */

.shudan-goban {
    --shudan-board-border-color: #222222
}



.DEPRECATED-goban {
    border: 2px solid #222222;
    padding: 2px 2px 2px 2px;
}

/* UI */

main {
    background: #c8b89b;
}

#goban {
	box-shadow: 0 0px 0px;
}
	
#leftsidebar {
	background: #323238;
}

#console .input {
	background: #2b2c30;
}

#sidebar {
	background: #323238;
}

#slider {
	background: #2b2c30;
	box-shadow: 0 0 0px #111;
}