
/* Stones */

.shudan-stone-image.shudan-sign_-1 {
        background-image: url('white1.png');
    }
    .shudan-stone-image.shudan-sign_-1.shudan-random_1 {
        background-image: url('white2.png');
    }
    .shudan-stone-image.shudan-sign_-1.shudan-random_2 {
        background-image: url('white3.png');
    }
	.shudan-stone-image.shudan-sign_-1.shudan-random_3 {
        background-image: url('white4.png');
    }
    .shudan-stone-image.shudan-sign_-1.shudan-random_4 {
        background-image: url('white5.png');
}


.shudan-stone-image.shudan-sign_1 {
        background-image: url('black1.png');
    }
    .shudan-stone-image.shudan-sign_1.shudan-random_1 {
        background-image: url('black2.png');
    }
    .shudan-stone-image.shudan-sign_1.shudan-random_2 {
        background-image: url('black3.png');
    }
	.shudan-stone-image.shudan-sign_1.shudan-random_3 {
        background-image: url('black4.png');
    }
    .shudan-stone-image.shudan-sign_1.shudan-random_4 {
        background-image: url('black5.png');
}

/* Stone Shadow */

.shudan-vertex:not(.shudan-sign_0) .shudan-shadow {
		top: .05em;
		left: .05em;
		width: calc(100% - .1em);
		height: calc(100% - .1em);
		background: rgba(23, 10, 2, 1);
        box-shadow: .08em .08em .2em rgba(23, 10, 2, .6);
}
.shudan-vertex.shudan-sign_-1 .shudan-shadow {
        opacity: .6;
}
.shudan-vertex.shudan-sign_1 .shudan-shadow {
        opacity: .9;
}

/* Board */

.shudan-goban {
	--shudan-board-border-width: 0em;
    --shudan-board-border-color: #222222;
    --shudan-board-background-color: #D1AE84;
	--shudan-board-foreground-color: #955908;
}

.shudan-goban-image {
    background-image: url('board.png');
}

/* Grid Lines */

.shudan-vertex .shudan-board::before {
	height: 2px;
}
.shudan-vertex .shudan-board::after {
	width: 2px;
}
.shudan-vertex .shudan-hoshi {
	transform: translate(calc(-50% + 1px), calc(-50% + 1px));
}